<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caiyi.dailywork">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".compant.DialyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".compant.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".compant.FloatingActivity" />
        <activity android:name=".compant.SpannedActivity" />
        <activity
            android:name=".compant.ToolbarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".compant.DiscoveryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".compant.RecycleActivity"/>
        <activity
            android:name=".compant.BannerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".compant.PictureActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".compant.ShapeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".compant.GlideActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".compant.ExpandableListViewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        静态注册广播接收器
        <receiver android:name=".compant.MyReciver">
            <intent-filter>
                <action android:name="com.intent.action.MY_RECIVER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>